<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/style/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body class="bg-[#EDF0F1] text-[#232F58]">
    <%- include('partials/navbar', {isLogin}) %>
        <div class="my-5 mx-14 md:my-10 md:mx-28">
            <h1 class="font-bold text-[30px] md:text-[40px]">Selamat Datang</h1>
            <div class="flex flex-col gap-6 md:flex-row">
                <p class="text-[20px] md:text-[25px] text-justify md:text-left">Website ini dirancang untuk memberikan
                    informasi terkait kegiatan akademik di Fakultas Teknik Universitas Mataram, khususnya dalam bidang
                    penelitian, pengabdian kepada masyarakat, dan publikasi ilmiah. Melalui website ini, pengguna dapat
                    dengan mudah mengakses data penelitian yang telah dilakukan, program pengabdian yang sedang
                    berlangsung, serta publikasi ilmiah yang diterbitkan oleh dosen di Fakultas Teknik Universitas
                    Mataram.</p>
                <img class="rounded-[30px] w-full md:w-[500px] self-center" src="/assets/gedung-teknik.png" alt="">
            </div>
            <h1 class="font-bold text-[25px] md:text-[35px] text-center my-5">Data Penelitian, Pengabdian, dan
                Publikasi 5 Tahun Terakhir </h1>
            <div class="flex flex-col justify-center gap-6 md:flex-row md:gap-36">
                <div
                    class="w-[30%] flex flex-col shadow-xl shadow-gray-800/25  rounded-[30px] h-[30%] aspect-square p-5 animate-on-scroll slide-left-fade-in">
                    <canvas id="penelitianChart" class="w-full h-full "></canvas>
                </div>
                <p
                    class="w-full md:w-[30%]  text-[16px] md:text-[20px] text-justify md:text-left aspect-square content-center animate-on-scroll slide-right-fade-in">
                    Selama lima tahun terakhir, Fakultas Teknik telah menunjukkan komitmen tinggi dalam bidang penelitian. Sebagian besar dana penelitian, 
                    yaitu 78.91%, berasal dari sumber PNBP, sementara 17.45% berasal dari dana pusat, dan 3.64% dari pendanaan mandiri. <a href="/penelitian" class="text-blue-500 hover:underline">Lihat lebih lanjut</a>
                </p>
            </div>
            <div class="flex flex-col-reverse justify-center gap-6 md:flex-row md:gap-36">
                <p class="w-[30%] md:text-[20px]  aspect-square content-center animate-on-scroll slide-left-fade-in">
                    Fakultas Teknik juga aktif dalam kegiatan pengabdian kepada masyarakat. Sebesar 97.02% kegiatan pengabdian dibiayai oleh PNBP, 
                    dan 2.98% lainnya dari dana pusat. Ini menunjukkan peran serta fakultas dalam menerapkan 
                    ilmu pengetahuan dan teknologi untuk kemajuan masyarakat secara luas. <a href="/pengabdian" class="text-blue-500 hover:underline">Lihat lebih lanjut</a>
                </p>
                <div
                    class="w-[30%] flex flex-col shadow-xl shadow-gray-800/25 rounded-[30px] h-[30%] aspect-square p-5 animate-on-scroll slide-right-fade-in">
                    <canvas id="pengabdianChart" class="w-full h-full "></canvas>
                </div>
            </div>
            <div class="flex flex-col justify-center gap-6 md:flex-row md:gap-36">
                <div
                    class="w-[30%] flex flex-col shadow-xl shadow-gray-800/25 rounded-[30px] h-[30%] aspect-square p-5 animate-on-scroll slide-left-fade-in">
                    <canvas id="publikasiChart" class="w-full h-full "></canvas>
                </div>
                <p class="w-[30%]  md:text-[20px]  aspect-square content-center animate-on-scroll slide-right-fade-in">
                    Dalam aspek publikasi ilmiah, Fakultas Teknik berhasil menghasilkan karya yang beragam. Sebanyak 62.77% publikasi berupa jurnal pengabdian, 
                    22.70% dalam bentuk HAKI (Hak Atas Kekayaan Intelektual), dan 14.54% berupa buku.  
                    Proporsi ini menunjukkan keberagaman output akademik dan kontribusi nyata dosen serta peneliti terhadap dunia keilmuan. <a href="/publikasi" class="text-blue-500 hover:underline">Lihat lebih lanjut</a>
                </p>
            </div>
        </div>
    <%- include('partials/footer') %>
    
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            window.publikasiCounts = <%- JSON.stringify(publikasiCounts) %>;
            window.penelitianCounts = <%- JSON.stringify(penelitianCounts) %>;
            window.pengabdianCounts = <%- JSON.stringify(pengabdianCounts) %>;
        </script>
        <script src="/script/index.js"></script>
</body>

</html>