<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/style/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body class="text-center bg-gray-100 ">
    <%- include('partials/navbar') %>

        <div id="scrollable-container" class="flex p-5 space-x-4 overflow-x-auto bg-blue-400 scrollbar-none">
            <% for (let i=0; i < 7; i++) { %>
                <div
                    class="flex flex-row items-center justify-center flex-none gap-4 py-5 rounded-3xl bg-slate-700 px-9">
                    <img src="/assets/analytics.png" alt="" class="w-16 ">
                    <div class="">
                        <h1 class="text-2xl font-semibold text-white">Analytics</h1>
                        <p class="text-xl">123</p>
                    </div>
                </div>
                <% } %>
        </div>

        <script>
            window.addEventListener('load', function () {
                const container = document.getElementById('scrollable-container');
                const totalWidth = Array.from(container.children).reduce((acc, child) => acc + child.offsetWidth, 0);
                if (totalWidth <= window.innerWidth) {
                    container.classList.add('justify-center');
                } else {
                    container.classList.add('justify-start');
                }
            });
        </script>


        <div class="flex justify-center">
            <div class="grid w-full grid-cols-2 gap-4">
                <!-- Kotak Besar -->
                <div class="col-span-1 bg-gray-700 rounded-lg">
                    <canvas id="bigCanvas" width="400" height="400"></canvas>
                </div>

                <!-- Dua Kotak Kecil di sebelah kanan -->
                <div class="flex flex-col gap-4">
                    <div class="h-48 bg-gray-700 rounded-lg">
                        <canvas id="smallCanvas1" class="bg-slate-400"></canvas>
                    </div>
                    <div class="h-48 bg-gray-700 rounded-lg">
                        <canvas id="smallCanvas2" class="bg-slate-400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="text-3xl font-bold text-blue-500">
            <%= title %>
        </h1>

        <% if (users) { %>
            <ul class="mt-5">
                <% users.forEach(user=> { %>
                    <li class="text-lg">
                        <a class="text-blue-600 underline" href="/users/<%= user.id %>">
                            <%= user.name %>
                        </a>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
</body>

</html>