<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/style/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body class="text-center bg-[#EDF0F1] ">
    <%- include('partials/navbar', {isLogin}) %>

    <h1 class="pt-6 text-4xl font-bold bg-white text-indigo">Pusat</h1>
    <div class="grid grid-cols-3 grid-rows-1 gap-8 px-32 py-2 bg-white  h-[50vh]">
        <div class="shadow-xl rounded-xl shadow-gray-800/25">
            <canvas id="pusatPerTahun" class="block w-full h-full"></canvas>
        </div>
        <div class="shadow-xl rounded-xl shadow-gray-800/25">
            <canvas id="pusatDanaPerTahun" class="block w-full h-full"></canvas>
        </div>
        <div class="shadow-xl rounded-xl shadow-gray-800/25">
            <canvas id="pusatAvgDanaPerTahun" class="block w-full h-full"></canvas>
        </div>
    </div>
    
    <h1 class="pt-6 text-4xl font-bold bg-white text-indigo">PNBP</h1>
        <div class="grid grid-cols-2 grid-rows-4 gap-8 px-32 py-2 bg-white  h-[200vh]">
            <div class="shadow-xl rounded-xl shadow-gray-800/25">
                <canvas id="pnbpPerTahun" class="block w-full h-full"></canvas>
            </div>
            <div class="shadow-xl rounded-xl shadow-gray-800/25">
                <canvas id="pnbpPerProdi" class="block w-full h-full"></canvas>
            </div>
            <div class="shadow-xl rounded-xl shadow-gray-800/25">
                <canvas id="pnbpDanaPerTahun" class="block w-full h-full"></canvas>
            </div>
            <div class="shadow-xl rounded-xl shadow-gray-800/25">
                <canvas id="pnbpDanaPerProdi" class="block w-full h-full"></canvas>
            </div>
            <div class="shadow-xl rounded-xl shadow-gray-800/25">
                <canvas id="pnbpAvgDanaPerTahun" class="block w-full h-full"></canvas>
            </div>
            <div class="shadow-xl rounded-xl shadow-gray-800/25">
                <canvas id="pnbpAvgDanaPerProdi" class="block w-full h-full"></canvas>
            </div>
            <div class="shadow-xl rounded-xl shadow-gray-800/25">
                <canvas id="pnbpAvgNilaiPerTahun" class="block w-full h-full"></canvas>
            </div>
            <div class="shadow-xl rounded-xl shadow-gray-800/25">
                <canvas id="pnbpAvgNilaiPerProdi" class="block w-full h-full"></canvas>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        window.pusatData = {
            jumlahPerTahun: <%- JSON.stringify(pusatData.jumlahPerTahun) %>,
            jumlahDanaPerTahun: <%- JSON.stringify(pusatData.jumlahDanaPerTahun) %>,
            avgDanaPerTahun: <%- JSON.stringify(pusatData.avgDanaPerTahun) %>,
        };

        window.pnbpData = {
            jumlahPerTahun: <%- JSON.stringify(pnbpData.jumlahPerTahun) %>,
            jumlahPerProdi: <%- JSON.stringify(pnbpData.jumlahPerProdi) %>,
            jumlahDanaPerTahun: <%- JSON.stringify(pnbpData.jumlahDanaPerTahun) %>,
            jumlahDanaPerProdi: <%- JSON.stringify(pnbpData.jumlahDanaPerProdi) %>,
            avgDanaPerTahun: <%- JSON.stringify(pnbpData.avgDanaPerTahun) %>,
            avgDanaPerProdi: <%- JSON.stringify(pnbpData.avgDanaPerProdi) %>,
            avgNilaiPerTahun: <%- JSON.stringify(pnbpData.avgNilaiPerTahun) %>,
            avgNilaiPerProdi: <%- JSON.stringify(pnbpData.avgNilaiPerProdi) %>
        };
    </script>
    <script src="/script/pengabdian.js"></script>
</body>

</html>