<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/style/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png">
    <style>
    </style>
</head>

<body class="text-center bg-[#EDF0F1] ">
    <%- include('partials/navbar', {isLogin}) %>

        <h1 class="pt-6 text-4xl font-bold bg-white text-indigo">Buku</h1>
        <div class="grid grid-cols-2 grid-rows-1 gap-8 px-32 py-2 bg-white  h-[70vh]">
            <div class="shadow-xl rounded-3xl shadow-gray-800/25">
                <canvas id="bukuPerTahun" class="block w-full h-full"></canvas>
            </div>
            <div class="shadow-xl rounded-3xl shadow-gray-800/25">
                <canvas id="bukuPerProdi" class="block w-full h-full"></canvas>
            </div>
        </div>

        <!-- Grafik HAKI -->
        <h1 class="pt-6 text-4xl font-bold bg-white text-indigo">HAKI</h1>
        <div class="grid grid-cols-2 grid-rows-2 gap-8 px-32 py-2 bg-white  h-[100vh]">
            <div class="shadow-xl rounded-3xl shadow-gray-800/25">
                <canvas id="hakiPerJenis" class="block w-full h-full"></canvas>
            </div>
            <div class="shadow-xl rounded-3xl shadow-gray-800/25" >
                <canvas id="hakiPerProdi" class="block w-full h-full"></canvas>
            </div>
            <div class="col-span-2 row-start-2 shadow-xl rounded-3xl shadow-gray-800/25">
                <canvas id="hakiPerTahun" class="block w-full h-full"></canvas>
            </div>
        </div>
    

        <!-- Grafik Jurnal Pengabdian -->
        <h1 class="pt-6 text-4xl font-bold bg-white text-indigo">Jurnal Pengabdian</h1>
        <div class="grid grid-cols-2 grid-rows-1 gap-8 px-32 py-2 bg-white  h-[70vh]">
            <div class="shadow-xl rounded-3xl shadow-gray-800/25 ">
                <canvas id="jupengPerTahun" class="block w-full h-full"></canvas>
            </div>
                <!-- Div Pembungkus untuk Chart Kedua -->
            <div class="shadow-xl rounded-3xl shadow-gray-800/25 ">
                <canvas id="jupengPerProdi" class="block w-full h-full"></canvas>
            </div>
        </div>
    <%- include('partials/footer') %>
    
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            window.jupengData = {
                jumlahPerTahun: <%- JSON.stringify(jupengData.jumlahPerTahun) %>,
                jumlahPerProdi: <%- JSON.stringify(jupengData.jumlahPerProdi) %>
            };
            
            window.hakiData = {
                jumlahPerTahun: <%- JSON.stringify(hakiData.jumlahPerTahun) %>,
                jumlahPerJenis: <%- JSON.stringify(hakiData.jumlahPerJenis) %>,
                jumlahPerProdi: <%- JSON.stringify(hakiData.jumlahPerProdi) %>
            };

            window.bukuData = {
                jumlahPerTahun: <%- JSON.stringify(bukuData.jumlahPerTahun) %>,
                jumlahPerProdi: <%- JSON.stringify(bukuData.jumlahPerProdi) %>
            };
        </script>
        <script src="/script/publikasi.js"></script>
</body>

</html>